/*Global stylings*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

/*Specific stylings*/

body {
    display: flex;
    flex-direction: column;
}

.big-container {
    flex: auto;
    display: flex;
}

.big-container > div {
    display: inline-block;
}

.left-container {
    width: 30vw;
    background-image: url(img/bg-img.png);
}

.left-container > div:first-child {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.527);
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}

div > img {
    height: 130px;
    padding: 10px 0px;
}

.logo-text {
    color: white;
    font-size: 90px;
    margin: auto 0px auto 10px;
    font-family: norse, sans-serif;
}

.photo-attribution {
    /* position:fixed;
    top: 96vh;
    left: 9vw; */
    text-align: center;
    margin-top: 525px;
}

a {
    color: white;
}

.right-container {
    width: 70vw;
    background-color: rgb(216, 210, 203);
}

.hero {
    font-weight: bold;
    margin-left: 60px;
    margin-right: 20vw;
}

.right-container > div,
.right-container > form {
    color: black;
    margin-top: 100px;
    font-size: 25px;
}

#form-container {
    background-color: white;
    display: flex;

}

form > div {
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.219);
    margin-left: 60px;
}

label {
    font-weight: 400;
    color: grey;
    font-size: 15px;
}

.form-row {
    display: flex;
}

.small-container {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin-top: 60px;
    color: white;
    background-color: #5A7D43 ;
    margin-left: 60px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 5px grey;
    font-size: 25px;
    width: auto;
}

.log-in {
    margin-left: 60px;
}

.log-in > a {
    color: #5A7D43;
    text-decoration: none;
}