/*Global stylings*/
input {
    appearance: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

/*Specific stylings*/

body {
    display: flex;
    flex-direction: column;
}

.big-container {
    flex: auto;
    display: flex;
}

.big-container > div {
    display: inline-block;
}

.left-container {
    width: 30vw;
    background-image: url(img/bg-img.png);
}

.left-container > div:first-child {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.527);
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}

div > img {
    height: 130px;
    padding: 10px 0px;
}

.logo-text {
    color: white;
    font-size: 90px;
    margin: auto 0px auto 10px;
    font-family: norse, sans-serif;
}

.photo-attribution {
    text-align: center;
    margin-top: 525px;
}

a {
    color: white;
}

.right-container {
    width: 70vw;
    background-color: #F6F8FA;
}

.hero {
    font-weight: bold;
    margin-left: 60px;
    margin-top: 20vh;
    margin-bottom: 58px;
    width: 35vw;
    font-size: 25px;
}

.right-container > div,
.right-container > form {
    color: black;
    /* font-size: 20px; */
}

#form-container {
    background-color: white;
    display: flex;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.219);
    border-top: 1px solid #e0e0e06b;
}

form > div {
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    margin-left: 60px;
}

label {
    font-weight: 400;
    color: grey;
    font-size: 15px;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.small-container {
    display: flex;
    flex-direction: column;
}

#submit-button {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: #5A7D43 ;
    border: 1px solid #4c6938;
    margin-left: 60px;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px grey;
    font-size: 20px;
    width: auto;
}

.log-in {
    margin-left: 60px;
    font-size: 20px;
}

.log-in > a {
    color: #5A7D43;
    text-decoration: none;
}

.small-container {
    margin-right: 60px;
}

.header {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 25px;
}

input {
    width: 275px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

input:focus {
    outline: none;
    border: 1px solid rgb(38, 38, 250);
    box-shadow: 1px 3px 4px rgba(174, 174, 174, 0.73);
}

.span-container {
    position: relative;
}

input:valid+span::after {
    position: absolute;
    top: 3px;
    right: -30px;
    content: "\2713";
    color: #5A7D43;
    font-size: 30px;
}

input:invalid:not(:placeholder-shown)+span::after {
    position: absolute;
    top: -5px;
    right: -25px;
    content: "\10102";
    color: red;
    font-size: 27px;
}

button:hover {
    cursor: grab;
}

button:active {
    transform: translateY(4px) scale(.98);
    box-shadow: inset 3px 3px 5px rgb(92, 92, 92);
}

.password-instructions {
    font-weight: normal;
    font-style: italic;
    margin-bottom: 25px;
    visibility: hidden;    
    position: absolute;
    top: 50px;
    width: 500px;
}

input[name="pass-confirm"] {
    margin-bottom: 40px;
}

input:focus+span+.password-instructions {
    visibility: visible;
}

#pass-message {
    position: relative;
    top: 24px;
    left: -50px;
}